{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inbox</title>
  <link rel="stylesheet" href="{% static 'output.css' %}">
</head>

<body class="flex flex-col items-center bg-stone-200 font-lato">

    <nav class="fixed top-0 z-10 flex flex-row items-center w-full bg-utrgv-orange drop-shadow-md drop-shadow-orange-900 p-4">
        <a class="text-3xl font-bold font-figtree text-white"
          href="{% url 'dashboard' %}">
          VMart
        </a>

        <div class="ms-auto">
            <a href="{% url 'inbox' %}" class="font-figtree text-xl text-white pr-2 pl-2 h-full hover:underline">Inbox</a>
            <a href="{% url 'bookmarks' %}" class="font-figtree text-xl text-white pr-2 pl-2 h-full hover:underline">My Bookmarks</a>
            <a href="{% url 'profile' %}" class="font-figtree text-xl text-white pr-2 pl-2 h-full hover:underline">My Profile</a>
            <a href="{% url 'logout' %}" class="font-figtree text-xl text-white pr-2 pl-2 h-full hover:underline">Logout</a>
        </div>
    </nav>

  <div class="w-full max-w-2xl mt-16 p-8">
    <div class="bg-white rounded-xl p-8 drop-shadow-md drop-shadow-zinc-600 text-center">
      <h1 class="text-3xl font-bold font-figtree text-zinc-900">Inbox</h1>
      <p class="mt-3 font-figtree text-zinc-700">
        This feature will come soon!.
      </p>

      <div class="mt-6">
        <a href="{% url 'dashboard' %}"
           class="inline-block bg-utrgv-orange text-white font-figtree pt-2 pb-2 pl-6 pr-6 rounded-4xl hover:opacity-90">
          Back to Listings
        </a>
      </div>

      <p class="mt-6 text-sm text-zinc-500 font-figtree">
        Soon buyers and users will be able to communicate with each other!
      </p>
    </div>
  </div>

</body>
</html>
