<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listing Created</title>
    <link href="../../static/output.css" rel="stylesheet" type="text/css">
</head>

<body class="flex flex-col font-lato bg-stone-200 justify-center items-center min-h-screen">
<nav class="fixed top-0 z-10 flex flex-row align-center w-full bg-utrgv-orange drop-shadow-md drop-shadow-orange-900 p-4">
    <a class="text-2xl font-semibold font-figtree text-white"
        href="{% url 'dashboard' %}">
        VMart
    </a>

    <div class="ms-auto">
        <a href="{% url 'inbox' %}" class="font-figtree text-xl text-white pr-2 pl-2">Inbox</a>
        <a href="{% url 'bookmarks' %}" class="font-figtree text-xl text-white pr-2 pl-2">My Bookmarks</a>
        <a href="{% url 'profile' %}" class="font-figtree text-xl text-white pr-2 pl-2">My Profile</a>
        <a href="{% url 'logout' %}" class="font-figtree text-xl text-white pr-2 pl-2">Logout</a>
    </div>
</nav>
<div class="flex flex-col justify-center items-center h-full w-full">
    <div class="flex flex-col bg-white rounded-4xl w-1/4 p-8 drop-shadow-lg drop-shadow-zinc-600">

        <h2 class="text-3xl font-figtree font-semibold text-center m-4 p-4">Listing Created Successfully! 🎉</h2>

        <p class="text-xl text-center">Your listing has been posted.</p>

        <div class="flex flex-row items-center text-center mt-4 pt-4">
            <a href="{% url 'dashboard' %}" class="button font-figtree w-100px bg-utrgv-orange text-white mr-1 pt-2 pb-2 pl-4 pr-4 rounded-4xl w-1/2">Go to Dashboard</a>
            <a href="{% url 'profile' %}" class="button font-figtree w-100px bg-zinc-300 mr-1 pt-2 pb-2 pl-4 pr-4 rounded-4xl w-1/2">View Profile</a>
        </div>

    </div>
</div>

</body>
</html>