<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link href="../static/output.css" rel="stylesheet" type="text/css">
</head>

<body class="flex flex-col items-center bg-stone-200 font-lato w-screen h-screen">

<nav class="flex flex-row align-center w-screen bg-utrgv-orange drop-shadow-md drop-shadow-orange-900 p-4">
    <a class="text-2xl text-white" href="#">Dashboard</a>
    <div class="ms-auto">
        
        <a href="{% url 'profile' %}" class="text-xl text-white pr-2 pl-2">My Profile</a>
        <a href="{% url 'logout' %}" class="text-xl text-white pr-2 pl-2">Logout</a>
    </div>
</nav>

<div class="container py-5">

    <div class="text-center mb-5">
    <h1 class="text-3xl font-bold">Welcome, {{ user.username }}!</h1>
    <p class="text-muted">Sign in successful.</p>
</div>

<h3 class="text-xl font-semibold p-4">Current Listings</h3>

<div class="flex flex-row">
        {% for product in listings %}
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
            <div class="bg-white p-4 m-3 w-70 rounded-xl flex flex-col drop-shadow-md drop-shadow-zinc-800">
                <div class="card-body">
                    
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="img-fluid mb-2" alt="{{ product.name }}">
                    {% endif %}

                
                    <h5 class="text-xl font-bold">{{ product.name }}</h5>

                    {% if product.price %}
                    <p class="font-bold text-green-800">${{ product.price }}</p>
                    {% endif %}

                    <p class="text-zinc-700">{{ product.description|truncatewords:15 }}</p>

                    <p class="text-zinc-700">
                        Created: {{ product.creation_Date|date:"M d, Y" }}
                    </p>

                    <!-- edit and delete function -->
                    {% if product.user == request.user.student %} 
                     <div class="flex flex-row items-center">
                        <a href="{% url 'edit_listing' product.pk %}" class="button w-100px bg-zinc-300 mr-1 pt-2 pb-2 pl-4 pr-4 rounded-4xl">
                            Edit
                        </a>

                        <a href="{% url 'delete_listing' product.pk %}" class="button w-100px bg-red-500 ml-1 pt-2 pb-2 pl-4 pr-4 rounded-4xl">
                            Delete
                        </a>
                     </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% empty %}
            <p class="text-muted">There are no listings yet.</p>
        {% endfor %}
    </div>

</div>

<div class="fixed bottom-0 right-0 mb-10 mr-10">
    <div class="d-flex justify-content-start">
        <a href="{% url 'create_listing' %}" class="button text-2xl text-white bg-utrgv-orange pt-4 pb-4 pl-6 pr-6 rounded-4xl drop-shadow-md drop-shadow-zinc-800">
            + Create Listing
        </a>
    </div>
</div>

</body>
</html>