<h2>My Listings</h2>

<a href="{% url 'dashboard' %}" class="btn btn-secondary mb-3">
    ← Back to Dashboard
</a>

{% if listings %}
    <ul>
        {% for listing in listings %}
            <li>
                {{ listing.name }} - ${{ listing.price }}
                <br>
                <a href="{% url 'edit_listing' listing.pk %}">Edit</a> |
                <a href="{% url 'delete_listing' listing.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You havent created any listings yet.</p>
{% endif %}


<!-- This page is dead now, we wont call My_Listings anymore, just one flow to my listings is going to be in the profile. -->