<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listing Details</title>
    <link href="../../static/output.css" rel="stylesheet" type="text/css">
</head>

<body class="flex flex-col w-screen h-screen bg-stone-200 justify-center items-center font-lato">

<div class="flex flex-col w-1/3">
    <div class="flex flex-col bg-white rounded-4xl p-8 drop-shadow-md drop-shadow-zinc-600">

        <h2 class="text-3xl font-semibold pt-2 pb-2">{{ listing.name }}</h2>
        {% if listing.image %}
        <img src="{{ listing.image.url }}" class="img-fluid mb-3" alt="{{ listing.name }}">
        {% endif %}

        {% if listing.price %}
            <h4 class="font-semibold text-lg text-green-800 pt-2 pb-2">${{ listing.price }}</h4>
        {% endif %}

        <p class="mb-4">{{ listing.description }}</p>

        <p class="text-muted small">
            Posted by: {{ listing.user.username }} <br>
            Date: {{ listing.creation_Date|date:"M d, Y" }}
        </p>

        <div class="flex flex-row w-max pt-2 pb-2">
            <a href="{% url 'dashboard' %}" class="button bg-stone-200 pt-2 pb-2 pl-4 pr-4 mr-1 rounded-4xl">Back</a>

            {% if listing.user == request.user.student %}
                <a href="{% url 'edit_listing' listing.pk %}" class="button bg-utrgv-orange text-white pt-2 pb-2 pl-6 pr-6 ml-1 mr-1 rounded-4xl">Edit</a>
                <a href="{% url 'delete_listing' listing.pk %}" class="button bg-red-600 text-white pt-2 pb-2 pl-6 pr-6 ml-1 mr-1 rounded-4xl">Delete</a>
            {% endif %}
        </div>

    </div>
</div>

</body>
</html>